{% load static %}

<!doctype html>
<html lang="en">
<head>
    <link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/fontawesome.css' %}" type="text/css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stickynotes - Login</title>
</head>

<body>

<div>
    <form method="post" class="form">
        <h2 class="form__title">STICKY LOGIN</h2>
        <div class="text-center" style="margin-top: 5px;margin-bottom: 15px;">
            {% for error in form.non_field_errors %}
                <span class="form__forget text-muted"> {{ error }} </span>
            {% endfor %}
            {% for error in form.password.errors %}
                <span class="form__forget text-muted"> {{ error }} </span>
            {% endfor %}
            {% for error in form.username.errors %}
                <span class="form__forget text-muted"> {{ error }} </span>
            {% endfor %}
        </div>

        {% csrf_token %}

        <div class="form__textfield">
            <input type="text" name="username" id="id_username" placeholder="Username" autofocus="" required="">
        </div>

        <div class="form__textfield">
            <input type="password" placeholder="Password" name="password" id="id_password" required="">
        </div>

        <button type="submit" class="form__btn">Login</button>
        <div class="form__forget">
            <p><a href="{% url "password_reset" %}">Forget password？</a></p>
        </div>
        <div class="form__forget">
            <a href="{% url 'django_registration_register' %}"><p>Create an account</p></a>
        </div>
    </form>

</div>
<footer>
    <div class="container">
            <span>Made With <i class="fas fa-heart">
                </i> by <a href="https://twitter.com/KolapoOshodi" target="_blank">Kolaposki</a>
            </span>
    </div>
</footer>
</body>


</html>