{% if notes %}
    {% for note in notes %}
        <div id="mynote-{{ note.pk }}" class="col-md-4 col-sm-6">

            <form method="POST" id="UpdateNoteForm-{{ note.pk }}" data-url="/">
                {% csrf_token %}
                <span class="no-display">{{ up_form.update_delete_dummy }}</span>

                <input id="id_background_color-{{ note.pk }}" type="hidden" name="background_color"
                       value="{{ note.background_color }}">
                <input type="hidden" name="note_id" value="{{ note.pk }}">
                <input class="d-none" id="doneCheck-{{ note.pk }}" name="is_done">

                <div id="bg-{{ note.pk }}" class="single-note {{ note.background_color }}">

                    <span class="notDone">
                            <label class="my-checkbox">
                                <input type="checkbox" value=""
                                       id="id_is_done-{{ note.pk }}">
                                <i class="checked fa-check-square fas"></i>
                                <i class="unchecked fa-check-square far"></i>
                            </label>
                    </span>

                    {% if note.is_done %}
                        <span id="doneMarker-{{ note.pk }}" class="notDone">
                            <i class="checked fa-check-square fas"></i>
                        </span>

                        <input id="new_title-{{ note.pk }}" name="title" type="text" class="isDone"
                               maxlength="20" placeholder="Type a title ..." value="{{ note.title }}" readonly>

                        <small>Last Updated: {{ note.date_updated|date:"D, dS M Y" }}</small>
                        <hr>
                        <textarea id="desc-{{ note.pk }}" class="no-display isDone"
                                  name="description" readonly>{{ note.description }}</textarea>
                        <p id="descPara-{{ note.pk }}" class="isDone">{{ note.description }}</p>

                    {% else %}

                        <input id="new_title-{{ note.pk }}" name="title" type="text" class=""
                               maxlength="20" placeholder="Type a title ..." value="{{ note.title }}" readonly>

                        <small>Last Updated: {{ note.date_updated|date:"D, dS M Y" }}</small>
                        <hr>
                        <textarea id="desc-{{ note.pk }}" class="no-display"
                                  name="description" readonly>{{ note.description }}</textarea>
                        <p id="descPara-{{ note.pk }}" class="">{{ note.description }}</p>
                    {% endif %}


                    <div class="meta">
                        <span>
                            <button name="update-{{ note.pk }}" id="update_btn-{{ note.pk }}"
                                    class="d-none" type="submit">
                                <i class="fas fa-check"></i>
                            </button>
                        </span>

                        <span id="pencil-{{ note.pk }}"><i class="fas fa-pencil-alt"></i></span>
                        <span id="palette-{{ note.pk }}" class="no-display"><i class="fas fa-palette"></i></span>

                        <span>
                            <button id="delete_btn-{{ note.pk }}" type="submit" name="delete_btn"
                                    class="mark btn btn-lg">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </span>

                        <span id="expand-{{ note.pk }}"><i class="fas fa-expand"></i></span>
                        <span id="link-{{ note.pk }}"
                              data-clipboard-text="{{ baseurl }}/shared/{{ note.link }}{{ note.pk }}">
                            <i class="fas fa-link"></i>
                        </span>
                    </div>

                    <div id="allColor-{{ note.pk }}" class="colors">
                        <div id="circle_blue-{{ note.pk }}" class="circle blue"></div>
                        <div id="circle_yellow-{{ note.pk }}" class="circle yellow"></div>
                        <div id="circle_red-{{ note.pk }}" class="circle red"></div>
                        <div id="circle_purple-{{ note.pk }}" class="circle purple"></div>
                        <div id="circle_green-{{ note.pk }}" class="circle green"></div>
                        <div id="circle_white-{{ note.pk }}" class="circle whiteCircle"></div>
                    </div>
                    <div id="copied-{{ note.pk }}" class="copied"> Note link copied !</div>
                </div>
            </form>
        </div>
    {% endfor %}

{% else %}
    <div class="container text-center"
         style="display: flex; justify-content: center; margin-bottom: 50px;">
        <div class="col-md-3 col-sm-5">
            <h2><small>No notes for now, start by creating one</small></h2>
        </div>
    </div>

{% endif %}