<script>

    $("body").overlayScrollbars({});

    $(document).on("click", "#palette", function () {
        console.log("Palette cc=lciked")
        $("#allColor").toggleClass('colors').toggleClass("colors openDivs");
    });

    function setNoteBackgroundColor(color) {
        $("#bg").removeAttr('class').addClass("single-note add-note " + color);
    }

    $(document).on("click", ".circle", function () {
        // console.log(this)
        selectedCircleRemoval()
        $(this).toggleClass('selected')

        let color = this.getAttribute('data-color')
        setNoteBackgroundColor(color)
    });

    function selectedCircleRemoval() {
        let allCircles = $('.circle')
        // console.log("allCircles: ",allCircles)
        for (let i = 0; i < allCircles.length; i++) {
            $(allCircles[i]).removeClass('selected')
        }
    }

    {# -------------------------------------------------------------------------------------------------------- #}

    $('#createNote').submit(function (event) {
        event.preventDefault();

        let createTitleInput = $('#createTitleInput').val()
        let createDescriptionInput = $('#createDescriptionInput').val()

        console.log("createTitleInput: ", createTitleInput)
        console.log("createDescriptionInput: ", createDescriptionInput)
        console.log()
    });

</script>
