<script>


    function strip(str) {
        // strips out leading and trailing spaces
        return str.replace(/^\s+|\s+$/gm, '');
    }

    $("body").overlayScrollbars({});

    {# -------------------------------------------------------------------------------------------------------- #}

    $(document).on("click", "#palette", function () {
        //console.log("Palette cc=lciked")
        let paletteDiv = this.parentElement.nextElementSibling
        $(paletteDiv).toggleClass('colors').toggleClass("colors openDivs");
    });


    function resetNoteForm() {
        $('#createTitleInput').val('')
        $('#createDescriptionInput').val('')
        let note = $('#noteCreator').find('#bg')

        $('#noteCreator').find('#allColor').removeClass('openDivs')
        setNoteBackgroundColor(note, 'white')
        selectedCircleRemoval()
        $('#noteCreator').find('#allColor').find('#circle_white').toggleClass('selected')

    }

    function setNoteBackgroundColor(element, color) {
        $(element).removeAttr('class').addClass("single-note add-note " + color);
    }

    $(document).on("click", ".circle", function () {
        // console.log(this)
        selectedCircleRemoval()
        $(this).toggleClass('selected')

        let color = this.getAttribute('data-color')
        //console.log(this)
        let parentDiv = null
        if (this.parentElement.getAttribute('data-new-note')) {
            parentDiv = this.parentElement.parentElement.parentElement
        } else {
            parentDiv = this.parentElement.parentElement
        }

        setNoteBackgroundColor(parentDiv, color)
    });

    function selectedCircleRemoval() {
        let allCircles = $('.circle')
        // console.log("allCircles: ",allCircles)
        for (let i = 0; i < allCircles.length; i++) {
            $(allCircles[i]).removeClass('selected')
        }
    }

    {# -------------------------------------------------------------------------------------------------------- #}

    function appendNoteToDOM(noteTitle, noteDescription, selectedColor) {
        let noteCard = document.createElement('div')
        noteCard.className = 'col-md-4 col-sm-6'
        noteCard.innerHTML = `   <form id="UpdateNoteForm">
                                <div id="bg" class="single-note ${selectedColor}">

                                    <span class="notDone">
                                            <label class="my-checkbox">
                                                <input type="checkbox" value="" id="id_is_done">
                                                <i class="checked fa-check-square fas"></i>
                                                <i class="unchecked fa-check-square far"></i>
                                            </label>
                                    </span>

                                    <input id="new_title" name="title" type="text" class=""
                                           maxlength="20" placeholder="Type a title ..."
                                           value="${noteTitle}">

                                    <small>Last Updated:{% now 'D, dS M Y' %}</small>
                                    <hr>
                                    <textarea id="desc" class=""
                                              name="description"> ${noteDescription}</textarea>

                                    <p id="descPara" class="isDone d-none">${noteDescription}</p>

                                    <div class="meta">
                                        <span class="d-none">
                                            <button name="update" id="update_btn" class="mark btn btn-lg">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </span>

                                        <span id="pencil" ><i class="fas fa-pencil-alt"></i></span>
                                        <span id="palette" class="">
                                            <i class="fas fa-palette"></i>
                                        </span>

                                        <span>
                                            <button id="delete_btn" type="submit" name="delete_btn"
                                                    class="mark btn btn-lg">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </span>

                                        <span id="expand"><i class="fas fa-expand"></i></span>
                                        <span id="link" data-clipboard-text="">
                                            <i class="fas fa-link"></i>
                                        </span>
                                    </div>

                                    <div id="allColor" class="colors">
                                        <div id="circle_blue" class="circle blue" data-color="blue">
                                        </div>
                                        <div id="circle_yellow" class="circle yellow" data-color="yellow">
                                        </div>
                                        <div id="circle_red" class="circle red" data-color="red">
                                        </div>
                                        <div id="circle_purple" class="circle purple" data-color="purple">
                                        </div>
                                        <div id="circle_green" class="circle green" data-color="green">
                                        </div>
                                        <div id="circle_white" class="circle whiteCircle" data-color="white">
                                        </div>
                                    </div>
                                    <div id="copied" class="copied"> Note link copied !</div>
                                </div>
                            </form>
                            `

        $('#all-notes').prepend(noteCard)
        let circle = $(noteCard).find('#circle_' + selectedColor)
        //console.log(circle)
        circle.toggleClass('selected')

        // TODO : timeago.js should be used for real time update

    }

    $('#createNote').submit(function (event) {
        event.preventDefault();

        let createTitleInput = $('#createTitleInput').val()
        let createDescriptionInput = $('#createDescriptionInput').val()

        let selectedColor = $(this).find('.selected').attr('data-color')
        console.log("selectedColor: ", selectedColor)
        if (strip(createTitleInput).length > 1) {
            resetNoteForm()
            appendNoteToDOM(createTitleInput, createDescriptionInput, selectedColor)
            $("#notes").click()
        } else {
            console.log("You need to input a title")
            alert("You need to input a title")
            // TODO : Notify.js should be used for notifications
        }

    });

</script>
