<script>
    $("body").overlayScrollbars({});

    $(document).on("click", "#palette", function () {
        $("#allColor").toggleClass('colors').toggleClass("colors openDivs");
    });

    function AppendMarker(event, $note_pk) {
        let $updateNoteForm = $('#UpdateNoteForm-' + $note_pk + "");
        console.log("APPEND UPDATE IS CALLED for note-id: ", $note_pk);

        event.preventDefault();
        let $formData = $updateNoteForm.serialize();
        let $thisURL = $updateNoteForm.attr('data-url') || window.location();

        console.log($formData);
        console.log($thisURL);

        $.ajax({
            method: 'POST',
            url: $thisURL,
            data: $formData,
            success: handleSuccess,
            error: handleError,
        });

        function handleSuccess(data) {

            if (data) {
                $(".all-notes").load(" .all-notes > *");
            }


            console.log(data.message);
            console.log("Note id: " + data.note_pk);
        }

        function handleError(ThrowError) {
            console.log("AN ERROR OCCURRED WHILE UPDATING FORM !!");
            console.log(ThrowError);
        }

    }

    function UpdateForm($note_pk) {
        $(document).ready(function () {

            let $updateNoteForm = $('#UpdateNoteForm-' + $note_pk + "");
            console.log("UPDATE IS CALLED for note-id: ", $note_pk);

            $updateNoteForm.submit(function (event) {

                event.preventDefault();
                let $formData = $updateNoteForm.serialize();
                let $thisURL = $updateNoteForm.attr('data-url') || window.location();

                console.log($formData);
                console.log($thisURL);

                $.ajax({
                    method: 'POST',
                    url: $thisURL,
                    data: $formData,
                    success: handleSuccess,
                    error: handleError,
                });

                function handleSuccess(data) {

                    if (data) {
                        //let $refresh = '#UpdateNoteForm-' + $note_pk + '';
                        $(".all-notes").load(" .all-notes > *");
                        // $($refresh).load(' '+$refresh + " > *");
                        // console.log("Resfresh succes of ", $refresh)
                    }


                    console.log(data.message);
                    console.log("Note id: " + data.note_pk);
                }

                function handleError(ThrowError) {
                    console.log("AN ERROR OCCURRED WHILE UPDATING FORM !!");
                    console.log(ThrowError);
                }
            });
        });
    }

    function DeleteNote($note_pk) {
        $(document).on("click", "#delete_btn-" + $note_pk + "", function (event) {
            event.preventDefault();
            alertify.confirm('Confirm Delete', 'Are you sure you want to delete this Note', function () {
                alertify.error('Note deleted!');

                let csrftoken = $("[name=csrfmiddlewaretoken]").val();
                let $noteForm = $('#UpdateNoteForm-' + $note_pk + "");

                event.preventDefault();
                let $formData = $noteForm.serialize();

                $.ajax({
                    type: 'DELETE',
                    url: '',
                    data: $formData,
                    success: handleSuccess,
                    error: handleError,
                    headers: {
                        "X-CSRFToken": csrftoken
                    }
                });

                function handleSuccess(data) {
                    let $noteTitle = data.title;
                    let $note_pk = data.note_pk;
                    console.log(data.message);
                    console.log("title: " + $noteTitle);
                    console.log("pk: " + $note_pk);
                    $('#mynote-' + $note_pk).hide(); // hide the post on success

                }

                function handleError(ThrowError) {
                    console.log("An error occurred while trying to delete this note");
                    console.log(ThrowError);
                }
            }, function () {
                {#alertify.error('Cancel');#}
                console.log("Note cancelled ", $note_pk)

            }).set('resizable', true).set('labels', {ok: 'Yes', cancel: 'Na, cancel'});
        });
    }

    {% for note in notes %}
        $(document).on("click", "#palette-{{ note.pk }}", function () {
            $("#allColor-{{ note.pk }}").toggleClass('colors').toggleClass("colors openDivs");
        });

        $(document).on("click", "#expand-{{ note.pk }}", function () {
            // $("#desc-{{ note.pk }}").toggleClass('').toggleClass('');
            $("#descPara-{{ note.pk }}").toggleClass('').toggleClass('expand');
        });

        $(document).on("click", "#pencil-{{ note.pk }}", function () {
            $(this).attr('class', 'no-display');
            $("#update_btn-{{ note.pk }}").attr('class', 'mark btn btn-lg');
            $("#desc-{{ note.pk }}").prop("readonly", false);
            $("#new_title-{{ note.pk }}").prop("readonly", false);
            $("#palette-{{ note.pk }}").removeAttr('class').addClass("");

            $("#desc-{{ note.pk }}").toggleClass('no-display').toggleClass('');
            $("#descPara-{{ note.pk }}").toggleClass('').toggleClass('no-display');
            //SUBMIT AJAX UPDATE FORM HERE
            UpdateForm({{ note.pk }})
        });

        $(document).on("click", "#doneMarker-{{ note.pk }}", function (event) {
            $(this).attr('class', 'no-display');
            $("#new_title-{{ note.pk }}").attr('class', '');
            $("#desc-{{ note.pk }}").attr('class', '');
            $("#descPara-{{ note.pk }}").attr('class', 'no-display');

            $("#id_is_done-{{ note.pk }}").prop('unchecked');
            $("#id_is_done-{{ note.pk }}").val("False");

            AppendMarker(event, {{ note.pk }});
        });

        $(document).on("click", "#id_is_done-{{ note.pk }}", function (event) {
            if ($(this).prop('checked')) {
                $(this).val("True");
                console.log("Checked");
                $("#new_title-{{ note.pk }}").attr('class', 'isDone');
                $("#desc-{{ note.pk }}").attr('class', 'isDone');
                $("#descPara-{{ note.pk }}").attr('class', 'no-display');
                $("#doneCheck-{{ note.pk }}").val("True");

                // ASSIGNING MARKER
                AppendMarker(event, {{ note.pk }});
                console.log("Done checked")

            }

            if ($(this).prop('unchecked')) {
                console.log("Unchecked");

                $(this).val("False");
                $("#new_title-{{ note.pk }}").attr('class', '');
                $("#desc-{{ note.pk }}").attr('class', '');
                $("#descPara-{{ note.pk }}").attr('class', 'no-display');
                $("#doneCheck-{{ note.pk }}").val("False");
            }
        });


        // Color Toggles
        $(document).on("click", "#circle_yellow-{{ note.pk }}", function () {
            $(this).removeAttr('class').addClass("circle yellow selected");

            $("#circle_blue-{{ note.pk }}").removeAttr('class').addClass("circle blue");
            $("#circle_red-{{ note.pk }}").removeAttr('class').addClass("circle red");
            $("#circle_green-{{ note.pk }}").removeAttr('class').addClass("circle green");
            $("#circle_purple-{{ note.pk }}").removeAttr('class').addClass("circle purple");
            $("#circle_white-{{ note.pk }}").removeAttr('class').addClass("circle whiteCircle");


            $("#bg-{{ note.pk }}").removeAttr('class').addClass("single-note add-note yellow");
            $("#id_background_color-{{ note.pk }}").val("yellow");
        });

        $(document).on("click", "#circle_blue-{{ note.pk }}", function () {
            $(this).removeAttr('class').addClass("circle blue selected");

            $("#circle_yellow-{{ note.pk }}").removeAttr('class').addClass("circle yellow");
            $("#circle_red-{{ note.pk }}").removeAttr('class').addClass("circle red");
            $("#circle_green-{{ note.pk }}").removeAttr('class').addClass("circle green");
            $("#circle_purple-{{ note.pk }}").removeAttr('class').addClass("circle purple");
            $("#circle_white-{{ note.pk }}").removeAttr('class').addClass("circle whiteCircle");


            $("#bg-{{ note.pk }}").removeAttr('class').addClass("single-note add-note blue");
            $("#id_background_color-{{ note.pk }}").val("blue");
        });

        $(document).on("click", "#circle_red-{{ note.pk }}", function () {
            $(this).removeAttr('class').addClass("circle red selected");

            $("#circle_blue-{{ note.pk }}").removeAttr('class').addClass("circle blue");
            $("#circle_yellow-{{ note.pk }}").removeAttr('class').addClass("circle yellow");
            $("#circle_green-{{ note.pk }}").removeAttr('class').addClass("circle green");
            $("#circle_purple-{{ note.pk }}").removeAttr('class').addClass("circle purple");
            $("#circle_white-{{ note.pk }}").removeAttr('class').addClass("circle whiteCircle");


            $("#bg-{{ note.pk }}").removeAttr('class').addClass("single-note add-note red");
            $("#id_background_color-{{ note.pk }}").val("red");

        });

        $(document).on("click", "#circle_green-{{ note.pk }}", function () {
            $(this).removeAttr('class').addClass("circle green selected");

            $("#circle_blue-{{ note.pk }}").removeAttr('class').addClass("circle blue");
            $("#circle_yellow-{{ note.pk }}").removeAttr('class').addClass("circle yellow");
            $("#circle_red-{{ note.pk }}").removeAttr('class').addClass("circle red");
            $("#circle_purple-{{ note.pk }}").removeAttr('class').addClass("circle purple");
            $("#circle_white-{{ note.pk }}").removeAttr('class').addClass("circle whiteCircle");


            $("#bg-{{ note.pk }}").removeAttr('class').addClass("single-note add-note green");
            $("#id_background_color-{{ note.pk }}").val("green");
        });

        $(document).on("click", "#circle_purple-{{ note.pk }}", function () {

            $(this).removeAttr('class').addClass("circle purple selected");

            $("#circle_blue-{{ note.pk }}").removeAttr('class').addClass("circle blue");
            $("#circle_yellow-{{ note.pk }}").removeAttr('class').addClass("circle yellow");
            $("#circle_green-{{ note.pk }}").removeAttr('class').addClass("circle green");
            $("#circle_red-{{ note.pk }}").removeAttr('class').addClass("circle red");
            $("#circle_white-{{ note.pk }}").removeAttr('class').addClass("circle whiteCircle");


            $("#bg-{{ note.pk }}").removeAttr('class').addClass("single-note add-note purple");
            $("#id_background_color-{{ note.pk }}").val("purple");
        });

        $(document).on("click", "#circle_white-{{ note.pk }}", function () {
            $(this).removeAttr('class').addClass("circle white selected");

            $("#circle_blue-{{ note.pk }}").removeAttr('class').addClass("circle blue");
            $("#circle_yellow-{{ note.pk }}").removeAttr('class').addClass("circle yellow");
            $("#circle_green-{{ note.pk }}").removeAttr('class').addClass("circle green");
            $("#circle_purple-{{ note.pk }}").removeAttr('class').addClass("circle purple");
            $("#circle_red-{{ note.pk }}").removeAttr('class').addClass("circle red");


            $("#bg-{{ note.pk }}").removeAttr('class').addClass("single-note add-note white");
            $("#id_background_color-{{ note.pk }}").val("white");
        });

        // delete note using ajax
        DeleteNote({{ note.pk }});

        let clipboard_{{ note.pk }} = new ClipboardJS('#link-{{ note.pk }}');

        clipboard_{{ note.pk }}.on('success', function (e) {
            //console.log(e);
            console.log("Link copied");
            //console.info('Action:', e.action);
            console.info('Text:', e.text);
            //console.info('Trigger:', e.trigger);
            //e.clearSelection();
        });

        clipboard_{{ note.pk }}.on('error', function (e) {
            console.log(e);
            console.error('Action:', e.action);
            console.error('Trigger:', e.trigger);
            console.log("Error occured while Link copying");

        });

        $(document).on("click", "#link-{{ note.pk }}", function () {
            console.log("Link clciked");
            $("#copied-{{ note.pk }}").attr('class', 'copied openDivs');
            $('#copied-{{ note.pk }}').fadeOut(800, function () {
                $('#copied-{{ note.pk }}').fadeIn(300);
                $("#copied-{{ note.pk }}").attr('class', 'copied');
            });
        });


    {% endfor %}


    $(document).on("click", "#circle_yellow", function () {
        $(this).removeAttr('class').addClass("circle yellow selected");

        $("#circle_blue").removeAttr('class').addClass("circle blue");
        $("#circle_red").removeAttr('class').addClass("circle red");
        $("#circle_green").removeAttr('class').addClass("circle green");
        $("#circle_purple").removeAttr('class').addClass("circle purple");
        $("#circle_white").removeAttr('class').addClass("circle whiteCircle");


        $("#bg").removeAttr('class').addClass("single-note add-note yellow");
        $("#id_background_color").val("yellow");
    });

    $(document).on("click", "#circle_blue", function () {
        $(this).removeAttr('class').addClass("circle blue selected");

        $("#circle_yellow").removeAttr('class').addClass("circle yellow");
        $("#circle_red").removeAttr('class').addClass("circle red");
        $("#circle_green").removeAttr('class').addClass("circle green");
        $("#circle_purple").removeAttr('class').addClass("circle purple");
        $("#circle_white").removeAttr('class').addClass("circle whiteCircle");


        $("#bg").removeAttr('class').addClass("single-note add-note blue");
        $("#id_background_color").val("blue");
    });

    $(document).on("click", "#circle_red", function () {
        $(this).removeAttr('class').addClass("circle red selected");

        $("#circle_blue").removeAttr('class').addClass("circle blue");
        $("#circle_yellow").removeAttr('class').addClass("circle yellow");
        $("#circle_green").removeAttr('class').addClass("circle green");
        $("#circle_purple").removeAttr('class').addClass("circle purple");
        $("#circle_white").removeAttr('class').addClass("circle whiteCircle");


        $("#bg").removeAttr('class').addClass("single-note add-note red");
        $("#id_background_color").val("red");
    });

    $(document).on("click", "#circle_green", function () {
        $(this).removeAttr('class').addClass("circle green selected");

        $("#circle_blue").removeAttr('class').addClass("circle blue");
        $("#circle_yellow").removeAttr('class').addClass("circle yellow");
        $("#circle_red").removeAttr('class').addClass("circle red");
        $("#circle_purple").removeAttr('class').addClass("circle purple");
        $("#circle_white").removeAttr('class').addClass("circle whiteCircle");


        $("#bg").removeAttr('class').addClass("single-note add-note green");
        $("#id_background_color").val("green");
    });

    $(document).on("click", "#circle_purple", function () {
        $(this).removeAttr('class').addClass("circle purple selected");

        $("#circle_blue").removeAttr('class').addClass("circle blue");
        $("#circle_yellow").removeAttr('class').addClass("circle yellow");
        $("#circle_green").removeAttr('class').addClass("circle green");
        $("#circle_red").removeAttr('class').addClass("circle red");
        $("#circle_white").removeAttr('class').addClass("circle whiteCircle");


        $("#bg").removeAttr('class').addClass("single-note add-note purple");
        $("#id_background_color").val("purple");
    });

    $(document).on("click", "#circle_white", function () {
        $(this).removeAttr('class').addClass("circle white selected");

        $("#circle_blue").removeAttr('class').addClass("circle blue");
        $("#circle_yellow").removeAttr('class').addClass("circle yellow");
        $("#circle_green").removeAttr('class').addClass("circle green");
        $("#circle_purple").removeAttr('class').addClass("circle purple");
        $("#circle_red").removeAttr('class').addClass("circle red");


        $("#bg").removeAttr('class').addClass("single-note add-note white");
        $("#id_background_color").val("white");

    });

</script>
