@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

$color: #61677C;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: $color-bg;
}

// form

.form {
  position: relative;
  width: 400px;
  padding: 40px;

  &__title {
    margin-bottom: 2rem;

    font-size: 2rem;
    letter-spacing: 0.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-white;
  }

  &__textfield {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    > input {
      width: 100%;
      height: 50px;
      padding: 1rem;

      border: none;
      outline: none;
      border-radius: 2rem;
      background: $color-bg;
      box-shadow: inset 2px 2px 5px $color-shadow,
      inset -5px -5px 10px $color-white;

      color: black;

      font-size: 1rem;
      letter-spacing: 0.1em;
      font-family: 'Noto Sans TC', sans-serif;

      transition: all 0.2s ease-in-out;

      &::placeholder {
        color: $color;
        text-shadow: 1px 1px 1px $color-white;
      }

      &:focus {
        box-shadow: inset 1px 1px 2px $color-shadow,
        inset -1px -1px 2px $color-white;
      }
    }
  }

  &__btn {
    display: block;
    width: 100%;
    height: 50px;

    border: none;
    outline: none;
    border-radius: 40px;
    background: $color-bg;
    box-shadow: -5px -5px 20px $color-white,
    5px 5px 20px $color-shadow;

    font-size: 1.25rem;
    letter-spacing: 0.2em;
    font-family: 'Noto Sans TC', sans-serif;
    color: $color-red;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: -2px -2px 5px $color-white,
      2px 2px 5px $color-shadow;
    }

    &:active {
      box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
    }
  }

  &__forget {
    margin-top: 1rem;
    letter-spacing: 0.1em;
    color: $color;

    a {
      color: rgba($color-red, 0.8);
      transition: 0.5s;

      &:hover {
        color: rgba($color-red, 1);
      }
    }
  }
}