{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Sticky Notes{% endblock title %}
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta property="og:image" content="{% static 'img/logo-128.png' %}"/>
    <meta property="og:title" content="{% block head_title %}Sticky Notes{% endblock head_title %}"/>
    <meta property="og:description" content="Create colorful todo notes for free"/>
    <meta property="og:image:width" content="265">
    <meta property="og:image:height" content="265">
    <meta property="og:site_name" content="Sticky Notes">
    <meta property="og:site_author" content="Oshodi Kolapo">
    <meta property="og:author" content="Oshodi Kolapo">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">


    <!-- Stylesheets -->
    <link href="{% static 'css/reset.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/stickyNotes.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/fontawesome.css' %}" type="text/css" rel="stylesheet">
    <link type="text/css" href="{% static 'css/OverlayScrollbars.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/alertify.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/alert-bootstrap.css' %}" rel="stylesheet"/>

</head>
<body>


{% block content %}
    <!-- content -->

{% endblock %}


<footer>
    <div class="container">
        <span>Made With <i class="fas fa-heart">
            </i> by <a href="https://twitter.com/KolapoOshodi" target="_blank">Kolaposki</a>
            <br>
            <a href="https://github.com/Kolaposki/" style="margin-left: -10px" target="_blank"><i
                    style="color: black; left: 10px;" class="fab fa-github"> </i></a>
        </span>
    </div>
</footer>

<!-- Javascript files -->
<script src="{% static 'js/jquery.min.js' %}" charset="utf-8"></script>
{#<script src="{% static 'js/main.js' %}" charset="utf-8"></script>#}
<script src="{% static 'js/darkmode.js' %}"></script>
<script src="{% static 'js/timeago.min.js' %}"></script>
<script src="{% static 'js/OverlayScrollbars.js' %}" charset="utf-8"></script>
<script src="{% static 'js/alertify.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/clipboard.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/easing.js' %}" charset="utf-8"></script>
{#<script src="{% static 'js/SmoothScroll.min.js' %}" charset="utf-8"></script>#}
<script>
    const options = {
        backgroundColor: '#EFEFEF',  // default: '#fff'
    }
    new Darkmode(options).showWidget();
</script>
<script src="{% static 'js/stickyNotes.js' %}" charset="utf-8"></script>

{#{% include 'partials/_js_utils.html' %}#}
{% include 'partials/_js_sticky.html' %}

</body>
</html>