{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="header darkmode-ignore" id="header">
        <div class="container">
            <div class="col-md-3 col-sm-5">
                <a style="font-size: 30px" href="{% url 'home' %}">
                    <h2 style="font-size: 30px">Sticky Notes</h2>
                </a>
            </div>
            <div class="col-md-6 col-md-push-3 col-sm-7">
                <div class="hold-img">
                    <img src="{% static 'img/Group 10.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>


    <div id="notes" class="notes">
        <div class="container">
            <!--Search bar-->
            <div class="searchBar">
                <form action="" id="searchForm">
                    <div class="col-xs-11 nopadding">
                        <input type="text" id="searchNotesInput" placeholder="Search Note" name="search_term">
                    </div>
                    <div class="col-xs-1 nopadding">
                        <button type="submit" id="searchBtn"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>

            <!--Create new note-->
            <div id="noteCreator" class="col-md-4 col-sm-6">

                <div id="bg" class="single-note add-note white">
                    <form name="createNote" id="createNote">
                        <input id="createTitleInput" name="title" type="text" maxlength="20" autofocus
                               placeholder="Type a title ...">
                        <small id="creatorDate"></small>
                        <hr>
                        <textarea id="createDescriptionInput" name="description"
                                  placeholder="Type a description ..."></textarea>
                        <div class="meta">
                                <span id="palette" class="paletteBtn">
                                    <i class="fas fa-palette"></i>
                                </span>
                            <span>
                                    <button class="mark btn btn-lg" type="submit" name="create_btn" id="create_btn">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </span>
                        </div>

                        <div id="allColor" class="colors" data-new-note="true">
                            <div id="circle_blue" class="circle blue" data-color="blue">
                            </div>
                            <div id="circle_yellow" class="circle yellow" data-color="yellow">
                            </div>
                            <div id="circle_red" class="circle red" data-color="red">
                            </div>
                            <div id="circle_purple" class="circle purple" data-color="purple">
                            </div>
                            <div id="circle_green" class="circle green" data-color="green">
                            </div>
                            <div id="circle_white" class="circle whiteCircle selected" data-color="white">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <section>
                <div id="all-notes" class="all-notes">
                    <!--All stickynotes section-->

                </div>
            </section>

        </div>
    </div>
{% endblock %}

