{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="header" id="header">
    <div class="container">
        <div class="col-md-3 col-sm-5">
            <a href="{% url 'home' %}">
                <h2>Sticky Notes</h2>
            </a>
        </div>
        <div class="col-md-6 col-md-push-3 col-sm-7">
            <div class="hold-img">
                <img src="{% static 'img/Group 10.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>


<div id="notes" class="notes">
    <div class="container">
        <!--Search bar-->
        <div class="searchBar">
            <form>
                <div class="col-xs-11 nopadding"><input type="text" name="search" placeholder="Search"></div>
                <div class="col-xs-1 nopadding">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>


        <!--Create new note-->
        <div class="col-md-4 col-sm-6">
            <div id="bg" class="single-note add-note white">
                <form method="POST">
                    {% csrf_token %}
                    <input name="title" type="text" maxlength="20" placeholder="Type a title ...">
                    <small>Today: {% now "jS F, Y" %}</small>

                    <input style="display: none !important;" name="background_color" value="white"
                           id="id_background_color">
                    <hr>
                    <textarea name="description" placeholder="Type a description ..."></textarea>
                    <div class="meta">
                        <span id="palette"><i class="fas fa-palette"></i></span>

                        <span>
                                <button class="mark btn btn-lg" type="submit" name="create_btn">
                                    <i class="fas fa-check"></i>
                                </button>
                        </span>
                    </div>


                    <div id="allColor" class="colors">
                        <div id="circle_blue" class="circle blue">
                        </div>
                        <div id="circle_yellow" class="circle yellow">
                        </div>
                        <div id="circle_red" class="circle red">
                        </div>
                        <div id="circle_purple" class="circle purple">
                        </div>
                        <div id="circle_green" class="circle green">
                        </div>
                        <div id="circle_white" class="circle whiteCircle selected">
                        </div>
                    </div>
                    {# <input type="text" name="note_id" value="{{ notes.pk }}"/>#}
                </form>
            </div>
        </div>

        <!--Show all saved notes-->
        <section>
            {% for note in notes %}
            <div class="col-md-4 col-sm-6">

                <div class="single-note {{ note.background_color }}">

                    <form method="post">
                        <input type="hidden" name="note_id" value="{{ note.pk }}" id="note_id">

                        <span class="notDone">
                            <i class="fa-check-square far"></i>
                        </span>

                        <h2 class="">{{ note.title }} </h2>
                        <small>Last update: {{ note.date_added }}</small>
                        <small>Note id: {{ note.pk }}</small>

                        <hr>
                        <p id="desc_p" class="">{{ note.description }}</p>
                         <textarea class="no-display" id="desc" name="description" >{{ note.description }}</textarea>

                        <div class="meta">
                            <span><i id="pencil" class="fas fa-pencil-alt"></i></span>
                            <span><i class="fas fa-palette"></i></span>
                            <span><i class="far fa-trash-alt"></i></span>
                            <span><i class="fas fa-link"></i></span>
                        </div>

                        <div class="colors">
                            <div class="circle blue"></div>
                            <div class="circle yellow"></div>
                            <div class="circle red"></div>
                            <div class="circle purple selected"></div>
                            <div class="circle whiteCircle"></div>
                        </div>

                        <div class="copied">
                            link is copied !
                        </div>
                    </form>

                </div>

            </div>
            {% endfor %}
        </section>


        <form method="POST">
            {% csrf_token %}

            {{ up_form.as_p }}
            {{ hello }}
            <input type="submit" value="Update" name="update_btn">
        </form>
        {{ obj }}

    </div>
</div>


{% endblock %}