{% extends "base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container text-center"
         style="display: flex; justify-content: center; margin-bottom: 50px; margin-top: 20px">
        <div style="padding: 5px">
            <form method="POST" class="form-group">
                <h2 style="margin: 25px">Create Account</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>

            <span style="margin-top: 10px">Already have an acount? </span><a
                href="{% url 'login' %}"><span>Log in here</span></a>
        </div>


    </div>
{% endblock %}