{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="header" id="header">
        <div class="container">
            <div class="col-md-3 col-sm-5">
                <a href="{% url 'home' %}">
                    <h2>Sticky Notes</h2>
                </a>
            </div>
            <div class="col-md-6 col-md-push-3 col-sm-7">
                <div class="hold-img">
                    <img src="{% static 'img/Group 10.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>


    <div id="notes" class="notes">
        <div class="container">
            <!--Search bar-->
            <div class="searchBar">
                <form action="{% url 'search' %}">
                    <div class="col-xs-11 nopadding">
                        <input type="text" placeholder="Search Note" name="search_term" value="{{ search_term }}">
                    </div>
                    <div class="col-xs-1 nopadding">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>


            <!--Show all saved notes-->
            <section>
                <div class="container text-center" style="display: flex; justify-content: center">
                    <div class="col-md-3 col-sm-5">
                        <h2><small>Search results for '{{ search_term }}'</small></h2>
                        <h2><small>Total notes match: {{ notes.count }}</small></h2>
                    </div>
                </div>
                {% if notes %}
                    <div id="all-notes" class="all-notes">
                        {% include 'partials/_all_notes.html' %}
                    </div>
                {% else %}
                    <div class="container text-center"
                         style="display: flex; justify-content: center; margin-bottom: 50px;">
                        <div class="col-md-3 col-sm-5">
                            <h2><small>No note match this search query.</small></h2>
                        </div>
                    </div>
                {% endif %}
            </section>

        </div>
    </div>
{% endblock %}

