{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="header shared-note darkmode-ignore" id="header">
        <div class="container">
            <div class="col-md-3 col-sm-5">
                <a href="{% url 'home' %}"><h2>Shared Note</h2></a>
            </div>
            <div class="col-md-6 col-md-push-3 col-sm-7">
                <div class="hold-img">
                    <img src="{% static 'img/Group 12.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <div id="notes" class="notes">
        <div class="container">
            <div class="col-md-offset-4 col-sm-offset-2 col-md-4 col-sm-8">
                <div class="single-note shared {{ note.background_color }}">
                    {% if note.is_done %}
                        <h2 class="isDone">{{ note.title }}</h2>
                        <small>Last Updated: {{ note.date_updated|date:"D, dS M Y" }} </small>
                        <hr>
                        <p class="isDone">{{ note.description }}</p>
                    {% else %}
                        <h2>{{ note.title }}</h2>
                        <small>Last Updated: {{ note.date_updated|date:"D, dS M Y" }} </small>
                        <hr>
                        <p>{{ note.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}